# 19x19 student prototype; variant is identified from the model contents.
nnBackend = cudabackend
inputsUseNHWC = false
maxBoardSizeForNNBuffer = 19
requireMaxBoardSize = true
numNNServerThreadsPerModel = 1
nnMaxBatchSize = 8
nnCacheSizePowerOfTwo = 16
nnMutexPoolSizePowerOfTwo = 12
numSearchThreads = 4
maxVisits = 32
rules = chinese
komi = 7.5
