# Use a separate worker pool for this lossy inference profile.
nnBackend = cudaint8backend
cudaInt8Scope = ffn
nnMaxBatchSize = 8
numNNServerThreadsPerModel = 1
nnCacheSizePowerOfTwo = 18
nnMutexPoolSizePowerOfTwo = 14
rules = chinese
komi = 7.5
